@import url(https://fonts.bunny.net/css?family=inter:400);

@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root[data-theme='light'] {
	--text-50: oklch(97.05% 0.018 209.43);
	--text-100: oklch(93.99% 0.036 213.99);
	--text-200: oklch(88.53% 0.07 213.14);
	--text-300: oklch(83.29% 0.099 214.53);
	--text-400: oklch(78.84% 0.12 215.87);
	--text-500: oklch(74.78% 0.132 219.41);
	--text-600: oklch(63.5% 0.111 218.81);
	--text-700: oklch(51.44% 0.089 218.96);
	--text-800: oklch(38.91% 0.066 217.71);
	--text-900: oklch(24.94% 0.04 217.41);
	--text-950: oklch(17.39% 0.025 214.63);

	--background-50: oklch(96.85% 0.018 214.38);
	--background-100: oklch(93.82% 0.034 215.02);
	--background-200: oklch(87.9% 0.068 216.32);
	--background-300: oklch(82.18% 0.096 218.05);
	--background-400: oklch(77.18% 0.119 220.15);
	--background-500: oklch(72.78% 0.131 223.29);
	--background-600: oklch(61.7% 0.111 223.43);
	--background-700: oklch(50.07% 0.089 222.85);
	--background-800: oklch(38.04% 0.065 221.38);
	--background-900: oklch(24.62% 0.038 218.42);
	--background-950: oklch(17.06% 0.025 220.01);

	--primary-50: oklch(96.88% 0.018 218.37);
	--primary-100: oklch(93.79% 0.036 216.56);
	--primary-200: oklch(88.08% 0.071 216.58);
	--primary-300: oklch(82.62% 0.1 217.92);
	--primary-400: oklch(77.7% 0.123 220.67);
	--primary-500: oklch(73.66% 0.135 223.79);
	--primary-600: oklch(62.34% 0.114 224.22);
	--primary-700: oklch(50.7% 0.091 223.07);
	--primary-800: oklch(38.38% 0.067 222.11);
	--primary-900: oklch(24.63% 0.04 220.43);
	--primary-950: oklch(17.31% 0.027 213.37);

	--secondary-50: oklch(93.92% 0.027 283.58);
	--secondary-100: oklch(87.78% 0.054 282.91);
	--secondary-200: oklch(75.68% 0.112 279.98);
	--secondary-300: oklch(63.67% 0.172 277.36);
	--secondary-400: oklch(52.86% 0.23 272.16);
	--secondary-500: oklch(44.64% 0.274 266.2);
	--secondary-600: oklch(38.14% 0.23 266.46);
	--secondary-700: oklch(31.17% 0.183 267.2);
	--secondary-800: oklch(24.08% 0.133 268.19);
	--secondary-900: oklch(16.28% 0.077 271.26);
	--secondary-950: oklch(12.03% 0.046 269.54);

	--accent-50: oklch(93.88% 0.028 290.22);
	--accent-100: oklch(87.62% 0.056 288.53);
	--accent-200: oklch(75.06% 0.12 286.96);
	--accent-300: oklch(62.95% 0.181 283.49);
	--accent-400: oklch(51.93% 0.24 277.71);
	--accent-500: oklch(44.13% 0.278 269.25);
	--accent-600: oklch(37.63% 0.234 269.78);
	--accent-700: oklch(30.8% 0.186 270.7);
	--accent-800: oklch(23.69% 0.136 272.4);
	--accent-900: oklch(16.09% 0.079 276.87);
	--accent-950: oklch(11.47% 0.051 282.29);
}
:root[data-theme='dark'] {
	--text-50: oklch(17.39% 0.025 214.63);
	--text-100: oklch(24.94% 0.04 217.41);
	--text-200: oklch(38.91% 0.066 217.71);
	--text-300: oklch(51.44% 0.089 218.96);
	--text-400: oklch(63.5% 0.111 218.81);
	--text-500: oklch(74.78% 0.132 219.41);
	--text-600: oklch(78.84% 0.12 215.87);
	--text-700: oklch(83.29% 0.099 214.53);
	--text-800: oklch(88.53% 0.07 213.14);
	--text-900: oklch(93.99% 0.036 213.99);
	--text-950: oklch(97.05% 0.018 209.43);

	--background-50: oklch(17.39% 0.025 214.63);
	--background-100: oklch(24.94% 0.04 217.41);
	--background-200: oklch(38.91% 0.066 217.71);
	--background-300: oklch(51.44% 0.089 218.96);
	--background-400: oklch(63.5% 0.111 218.81);
	--background-500: oklch(74.78% 0.132 219.41);
	--background-600: oklch(78.84% 0.12 215.87);
	--background-700: oklch(83.29% 0.099 214.53);
	--background-800: oklch(88.53% 0.07 213.14);
	--background-900: oklch(93.99% 0.036 213.99);
	--background-950: oklch(97.05% 0.018 209.43);

	--primary-50: oklch(17.31% 0.027 213.37);
	--primary-100: oklch(24.63% 0.04 220.43);
	--primary-200: oklch(38.38% 0.067 222.11);
	--primary-300: oklch(50.7% 0.091 223.07);
	--primary-400: oklch(62.34% 0.114 224.22);
	--primary-500: oklch(73.66% 0.135 223.79);
	--primary-600: oklch(77.7% 0.123 220.67);
	--primary-700: oklch(82.62% 0.1 217.92);
	--primary-800: oklch(88.08% 0.071 216.58);
	--primary-900: oklch(93.79% 0.036 216.56);
	--primary-950: oklch(96.88% 0.018 218.37);

	--secondary-50: oklch(12.03% 0.046 269.54);
	--secondary-100: oklch(16.28% 0.077 271.26);
	--secondary-200: oklch(24.08% 0.133 268.19);
	--secondary-300: oklch(31.17% 0.183 267.2);
	--secondary-400: oklch(38.14% 0.23 266.46);
	--secondary-500: oklch(44.64% 0.274 266.2);
	--secondary-600: oklch(52.86% 0.23 272.16);
	--secondary-700: oklch(63.67% 0.172 277.36);
	--secondary-800: oklch(75.68% 0.112 279.98);
	--secondary-900: oklch(87.78% 0.054 282.91);
	--secondary-950: oklch(93.92% 0.027 283.58);

	--accent-50: oklch(11.47% 0.051 282.29);
	--accent-100: oklch(16.09% 0.079 276.87);
	--accent-200: oklch(23.69% 0.136 272.4);
	--accent-300: oklch(30.8% 0.186 270.7);
	--accent-400: oklch(37.63% 0.234 269.78);
	--accent-500: oklch(44.13% 0.278 269.25);
	--accent-600: oklch(51.93% 0.24 277.71);
	--accent-700: oklch(62.95% 0.181 283.49);
	--accent-800: oklch(75.06% 0.12 286.96);
	--accent-900: oklch(87.62% 0.056 288.53);
	--accent-950: oklch(93.88% 0.028 290.22);
}

:root {
	--radius: 0.625rem;
	--text: oklch(22.19% 0.034 214.95);
	--background: oklch(97.78% 0.012 215.82);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(73.43% 0.135 224.45);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(68.2% 0.149 278.26);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(56.68% 0.215 280.95);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--text: oklch(95.24% 0.029 212.58);
	--background: oklch(15.64% 0.023 211.63);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(73.66% 0.135 223.79);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(28.4% 0.164 267.51);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(34.18% 0.21 270.21);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
		font-family: 'Inter', sans-serif;
	}
	body {
		@apply bg-background text-foreground;
	}
}
